#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
}

body{
  background: #fff;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.bg{
  background: #fff;
}

.ctr{
  text-align: center;
  font-size: 18px;
}

.dp{
  height:80px;
  width: 80px;
  margin-left: 5%;
  margin-bottom: -10%;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.dp-text{
  text-align: center;
}

.online{
  color:green;
  font-size: 50px;
}

.card{
  box-shadow: 2px 2px 2px 3px rgb(219, 214, 214);
  margin:0 auto;
  border-radius:4px;
}

.title{
  font-size: 1.8rem;
  color:black;
}

.t-text{
  font-weight: 700;
  font-size:0.6rem;
  padding:10%;
  color:gray;
}

.green-icon{
  color:green;
  font-weight: bold;
  font-size: 1.4rem;
}

.red-icon{
  color:red;
  font-weight: bold;
  font-size: 1.4rem;
}

.green-text{
  color:green;
  font-weight: 500;
  font-size: 0.8rem;
}

.red-text{
  color:red;
  font-weight: 500;
  font-size: 0.8rem;
}