

.site-layout-sub-header-background {
  background: #fff;
  border-left:1px solid rgba(209, 206, 206, 0.884);
  border-bottom:1px solid rgba(209, 206, 206, 0.884);
  max-height: 10vh;
}

.site-layout-background {
  background: rgb(245, 245, 245);
}

.bg {
  background: #fff;
}

.ctr {
  text-align: center;
  font-size: 18px;
}

.dp {
  height: 80px;
  width: 80px;
  margin-top:20%;
  margin-left: 5%;
  margin-bottom: -10%;
}

.site-card-border-less-wrapper {
  padding: 30px;
  background: #ececec;
}

.dp-text {
  text-align: center;
}

.online {
  color: green;
  font-size: 50px;
}

.card {
  margin: 0 auto;
  border-radius: 4px;
  border:0.1px solid rgba(209, 206, 206, 0.884);
  margin-bottom:2%;
}

.title {
  font-size: 1.8rem;
  color: black;
}

.t-text {
  font-weight: 700;
  font-size: 0.6rem;
  padding: 10%;
  color: gray;
}

.green-icon {
  color: green;
  font-weight: bold;
  font-size: 1.4rem;
}

.red-icon {
  color: red;
  font-weight: bold;
  font-size: 1.4rem;
}

.green-text {
  color: green;
  font-weight: 500;
  font-size: 0.8rem;
}

.red-text {
  color: red;
  font-weight: 500;
  font-size: 0.8rem;
}

.card-c{
  box-shadow: 3px 5px 8px  rgb(199, 197, 197);
  border-radius: 4px;
  border:1px solid rgb(209, 206, 206);
}

.icon{
  font-size: 1.5rem;
  margin-top:25%;
}


.btn{
  border: none;
  
}

.table-icon{
  font-size: 1.3rem;
  color:gray;
  cursor: pointer;
  margin-left: 10%;
}

.dropdown{
  margin-right: 25px;
}